#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.blocks-column pre {
  white-space: pre-wrap; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words */
}

.app-container {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 20px;
}

.group-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.MuiLinearProgress-root {
  transition: none !important; /* Remove animation */
}

.group-navigation .MuiCardContent-root {
  white-space: normal; /* Allow text to wrap */
}

.blocks-list {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 200px); /* Adjust based on your layout */
}

.MuiCardContent-root {
  white-space: normal; /* Allow text to wrap */
}

.blocks-column {
  flex: 2;
  padding: 20px;
  background-color: #2e2e2e; /* Lighter background color for blocks */
  width: 25%; /* Fixed width for the left column */
}

.blocks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
