#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevent page scrolling */
}

.groups-column {
  position: relative; /* Ensure the block count is positioned relative to this container */
  height: 100%; /* Make sure the column takes full height */
}

.block-count {
  position: absolute;
  bottom: 40px; /* Raise the block count 40px from the bottom */
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border: 1px solid #ccc; /* Add a light gray border */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a more pronounced drop shadow */
  text-align: center; /* Center the text */
}

.app-container {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 20px;
  overflow: hidden; /* Prevent page scrolling */
}
.blocks-column pre {
  white-space: pre-wrap; /* Allow text to wrap */
  word-wrap: break-word; /* Break long words */
}

.app-container {
  display: flex;
  flex: 1;
  gap: 20px;
  padding: 20px;
}

.group-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add border around the group navigation */
  padding: 10px; /* Add some padding inside the border */
  border-radius: 5px; /* Optional: Add rounded corners */
}


.MuiLinearProgress-root {
  transition: none !important; /* Remove animation */
}

.group-navigation .MuiCardContent-root {
  white-space: normal; /* Allow text to wrap */
}

.blocks-list {
  flex: 1;
  overflow-y: auto;
  max-height: calc(100vh - 64px - 64px - 160px); /* Further adjusted to ensure block count is visible */
  padding-right: 10px; /* Add padding to ensure scrollbar doesn't overlap content */
}

.MuiCardContent-root {
  white-space: normal; /* Allow text to wrap */
}

.blocks-column {
  flex: 2;
  padding: 20px;
  background-color: #2e2e2e; /* Lighter background color for blocks */
  width: calc(100% - 20px); /* Adjust width to prevent cutting off */
  overflow-y: hidden; /* Prevent overflow from the Paper component */
  height: calc(100vh - 64px - 64px - 20px); /* Subtract app bar height and add margin */
  display: flex;
  flex-direction: column;
  padding-bottom: 20px; /* Add padding to the bottom */
  margin-bottom: 20px; /* Add margin to the bottom */
  border: 1px solid #ccc; /* Add border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add drop shadow */
}

.blocks-column > div {
  flex: 1;
  overflow-y: auto; /* Allow scrolling for the content area */
}

.blocks-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
