


.button-group .MuiButton-root + .MuiButton-root {
  margin-left: 10px; /* Ensure there is a 10px margin between buttons */
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.button-group .MuiButton-root {
  margin-left: 10px;
}

.button-group .MuiButton-root:last-child {
  margin-right: 4px;
}

.editor-container {
  margin: 20px; /* Optional: Add some margin below the component */
  border: 1px solid #e0e0e0; /* Optional: Add a border around the component */
}


