


.button-group .MuiButton-root + .MuiButton-root {
  margin-left: 10px; /* Ensure there is a 10px margin between buttons */
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}

.button-group .MuiButton-root {
  margin-left: 10px;
}

.button-group .MuiButton-root:last-child {
  margin-right: 4px;
}

.editor-container {
  margin: 20px; /* Optional: Add some margin below the component */
  border: 1px solid #e0e0e0; /* Optional: Add a border around the component */
}


.file-editor-container {
  display: flex;
}

.button-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.editor-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ace_editor {
  width: 100% !important;
  border: 1px solid lightgrey; /* Add a light border around the editor */
  border-radius: 4px; /* Optional: Add rounded corners */
}
.file-editor-container {
  display: flex;
  flex-direction: row;
}

.button-column {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.editor-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ace_editor {
  width: 100% !important;
}
